.nav-tabs > li,
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs,
.nav-pills {
  text-align: center;
}
.my-nav-Wizar {
  border-bottom: 0px solid #ddd;
}
.my-nav-Wizar > li.active > a,
.my-nav-Wizar > li.active > a:focus,
.my-nav-Wizar > li.active > a:hover {
  /*color: #555 !important;*/
  cursor: default;
  background-color: #66615b;
  border: 0px;
  border-bottom-color: transparent;
}

.nav-tabs > li > a {
  margin-right: 2px;
  border-radius: 0 0 0 0;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
